.projects {
  .container {
    max-width: 1500px;
  }
  max-width: 100%;
  width: 100%;
  padding: 80px 0;

  &__intro {
    text-align: center;
    font-size: 32px;
    color: #0a1931;
    padding: 25px;
  }

  &__wrapper {
    padding: 30px;
    max-width: 100%;
    background-color: #0a1931;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__card-wrapper {
    max-width: 100%;
    width: 100%;
    background-color: #0a1931;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    transition: 0.6s ease-in-out;
    gap: 35px;
    overflow-y: auto;

    &:hover .projects__card {
      translate: 60px;
    }

    &:hover .card__info {
      opacity: 100%;
      translate: 0px;
    }

    .card__info {
      max-width: 500px;
      translate: -400px;
      transition: 0.6s ease-in;
      opacity: 0;
      h3 {
        font-size: 40px;
      }
      p {
        color: rgba(255, 255, 255, 0.784);
      }
    }
  }

  &__card {
    max-width: 48%;
    width: 100%;
    height: 350px;
    background-color: #eeee;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    border: 1px solid white;
    translate: -260px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &:hover .project__1st-img {
      display: none;
    }

    .project__1st-img {
      transition: 0.4s ease-in-out;
    }
  }

  .visit-link {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: rgb(104, 79, 255);
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: white;
      color: rgb(104, 79, 255);
    }
  }
}

@media screen and (max-width: 1440px) {
  .projects {
    &__intro {
      h2 {
        font-size: 40px;
      }
    }

    .card__info {
      max-width: 400px;

      h3 {
        font-size: 38px;
      }
      p {
        color: rgba(255, 255, 255, 0.784);
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .projects {
    &__intro {
      h2 {
        font-size: 40px;
      }
    }

    .card__info {
      max-width: 400px;

      h3 {
        font-size: 30px;
      }
      p {
        color: rgba(255, 255, 255, 0.784);
      }
    }
  }
}
